Repository Josh-moreton/alchemiser-quant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, black-format, mypy-typecheck, ban-float-equality

ruff-check:
  name: Ruff Lint & Format Imports
  entry: poetry run ruff check --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

black-format:
  name: Black Code Formatter
  entry: poetry run black
  language: system
  pass_filenames: true
  stages:
  - pre-commit

mypy-typecheck:
  name: MyPy Type Checking
  entry: poetry run mypy
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ban-float-equality:
  name: Ban float equality
  entry: python tools/check_float_eq.py
  language: system

fixing mypy errors
  the_alchemiser/application/execution/smart_execution.py
  the_alchemiser/application/trading/alpaca_client.py
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/domain/models/market_data.py
  the_alchemiser/domain/types.py
  the_alchemiser/infrastructure/adapters/legacy_portfolio_adapter.py
  the_alchemiser/infrastructure/websocket/websocket_order_monitor.py
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interface/cli/trading_executor.py
  the_alchemiser/interface/email/email_utils.py
  the_alchemiser/interface/email/templates/portfolio.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

apply fixes
  tests/unit/application/mapping/test_execution_mapping.py
  the_alchemiser/application/mapping/execution.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

mypy
  .github/copilot-instructions.md
  the_alchemiser/application/execution/smart_execution.py
  the_alchemiser/interfaces/schemas/execution.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update engine_service.py
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update alpaca_dto_mapping.py
  the_alchemiser/application/mapping/alpaca_dto_mapping.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update test_trading_service_manager_dto.py
  tests/unit/services/trading/test_trading_service_manager_dto.py
Due: ban-float-equality

Update strategy_order_tracker.py
  the_alchemiser/application/tracking/strategy_order_tracker.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

del
  tests/unit/application/mapping/test_execution_mapping.py
  tests/unit/application/orders/test_order_validation.py
  tests/unit/application/tracking/test_strategy_order_tracker_dto.py
  tests/unit/interface/cli/test_strategy_tracking_cli_integration.py
  tests/unit/interface/test_portfolio_email_template.py
  tests/unit/interfaces/schemas/test_execution_summary.py
  tests/unit/interfaces/schemas/test_portfolio_rebalancing.py
  tests/unit/services/trading/test_trading_service_manager_dto.py
Due: ban-float-equality

chore: apply DTO tracker fixes (logger, P&L fallback, schema version) and add unit tests
  tests/unit/tracking/test_strategy_order_tracker_dto.py
  the_alchemiser/application/tracking/strategy_order_tracker.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

del
  cli-trade-cov.json
  coverage-cli-trade.json
Due: none

del
  CONTRIBUTING.md
  cli-trade-cov.json
  coverage-cli-trade.json
  tools/check_float_eq.py
  tools/ci/check_no_legacy_dataprovider.sh
  tools/codemods/swap_to_facade.py
Due: none

del
  tests/unit/application/mapping/test_strategy_market_data_adapter.py
  tests/unit/application/trading/__init__.py
  tests/unit/application/trading/test_bootstrap.py
  tests/unit/application/trading/test_ports.py
Due: ban-float-equality

working DSL Engine
  the_alchemiser/domain/dsl/parser.py
  the_alchemiser/interface/cli/cli.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Applying patches to implement the four remediation items (scaling fix, multi-signal breakdown, doc clarification/type alias, backward-compatible new allocation_weight key and renderer preference). ```
  the_alchemiser/application/mapping/strategies.py
  the_alchemiser/interface/cli/cli_formatter.py
  the_alchemiser/interface/cli/signal_analyzer.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Updating strategies mapping to add constants, strategy attribution, SELL handling, doc clarifications, and adjust function signatures. ```
  the_alchemiser/application/mapping/strategies.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

DSL-count mode
  the_alchemiser/domain/dsl/parser.py
  the_alchemiser/interface/cli/cli.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

remove Black
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Due: none

Reading the affected section of signal_analyzer.py to correct indentation. Fixing indentation error in signal_analyzer.py then re-running lint and type checks. ```
  the_alchemiser/application/mapping/strategies.py
  the_alchemiser/interface/cli/signal_analyzer.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Fixing indentation inside perform_portfolio_rebalancing_workflow to resolve mypy syntax error, then rerunning mypy. ```
  the_alchemiser/application/mapping/portfolio_rebalancing_mapping.py
  the_alchemiser/application/portfolio/services/portfolio_management_facade.py
  the_alchemiser/services/errors/handler.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

fixes
  the_alchemiser/domain/dsl/ast.py
  the_alchemiser/domain/dsl/evaluator.py
  the_alchemiser/domain/dsl/evaluator_cache.py
  the_alchemiser/domain/dsl/interning.py
  the_alchemiser/domain/dsl/optimization_config.py
  the_alchemiser/domain/dsl/parser.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

absurd upper limits for nodes
  the_alchemiser/domain/dsl/parser.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

moved
  docs/DTO_INTEGRATION_GUIDE.md
  docs/cloudwatch-logging-guide.md
  docs/ddd-modernization-plan.md
  docs/implementation-summary.md
  docs/refactors/component_inventory.md
  docs/refactors/trading_engine_before_after.md
  docs/refactors/trading_engine_refactor_plan.md
  docs/typing-migration/branching-and-prs.md
  docs/typing-migration/checklists/phase-05.md
  docs/typing-migration/checklists/phase-06.md
  docs/typing-migration/checklists/phase-07.md
  docs/typing-migration/checklists/phase-08.md
  docs/typing-migration/checklists/phase-09.md
  docs/typing-migration/checklists/phase-10.md
  docs/typing-migration/checklists/phase-11.md
  docs/typing-migration/checklists/phase-12.md
  docs/typing-migration/checklists/phase-13.md
  docs/typing-migration/checklists/phase-14.md
  docs/typing-migration/checklists/phase-15.md
  docs/typing-migration/contracts.md
  docs/typing-migration/overview.md
  docs/typing-migration/phase-plan.md
  docs/typing-migration/todo-matrix.csv
  docs/wiki-update-summary.md
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

small fix
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

dsl to clj
  the_alchemiser/interface/cli/cli.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Add production readiness review
  PRODUCTION_READINESS_REVIEW.md
Due: none

begun fixing production readiness review items
  PRODUCTION_READINESS_REVIEW.md
  the_alchemiser/application/execution/smart_execution.py
  the_alchemiser/application/mapping/__init__.py
  the_alchemiser/domain/trading/__init__.py
  the_alchemiser/domain/trading/value_objects/symbol.py
  the_alchemiser/infrastructure/__init__.py
  the_alchemiser/interface/cli/trading_executor.py
  the_alchemiser/main.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

fixing sonarqube findings
  the_alchemiser/application/mapping/strategy_signal_mapping.py
  the_alchemiser/application/mapping/tracking_mapping.py
  the_alchemiser/application/tracking/integration.py
  the_alchemiser/application/tracking/strategy_order_tracker.py
  the_alchemiser/infrastructure/s3/s3_utils.py
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interface/cli/trading_executor.py
  the_alchemiser/interfaces/schemas/tracking.py
  the_alchemiser/services/errors/error_reporter.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

fixing some more findings
  the_alchemiser/application/execution/execution_manager.py
  the_alchemiser/application/execution/smart_execution.py
  the_alchemiser/application/tracking/integration.py
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interfaces/schemas/tracking.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

fixes to order execution
  the_alchemiser/application/execution/execution_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Delete poetry.lock
  poetry.lock
Due: none

del (turned into git issues)
  PRODUCTION_READINESS_REVIEW.md
Due: none

ruff
  the_alchemiser/# Refactoring Analysis: Alchemiser-Quant.md
Due: none

linting
  the_alchemiser/application/tracking/strategy_order_tracker.py
  the_alchemiser/domain/trading/errors/order_error.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Delete FACADE_SERIALIZATION_STRATEGY.md
  FACADE_SERIALIZATION_STRATEGY.md
Due: none

poetry run ruff format && poetry run ruff check --fix --unsafe-fixes && poetry run mypy
  the_alchemiser/application/execution/canonical_executor.py
  the_alchemiser/application/execution/canonical_integration_example.py
  the_alchemiser/domain/trading/value_objects/order_request.py
  the_alchemiser/domain/trading/value_objects/order_type.py
  the_alchemiser/domain/trading/value_objects/side.py
  the_alchemiser/domain/trading/value_objects/time_in_force.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Applied pre-merge refinements complete:
  the_alchemiser/application/execution/canonical_executor.py
  the_alchemiser/domain/trading/protocols/__init__.py
  the_alchemiser/domain/trading/protocols/order_lifecycle.py
  the_alchemiser/services/repository/alpaca_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Path conditions:
  ruff-check: any of: ^the_alchemiser/.*\.py$ and \.py$
  black-format: any of: ^the_alchemiser/.*\.py$ and \.py$
  mypy-typecheck: any of: ^the_alchemiser/.*\.py$ and \.py$
  ban-float-equality: any of: ^(tests/|the_alchemiser/).+\.py$ and \.py$
