Repository Josh-moreton/alchemiser-quant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, black-format, mypy-typecheck, ban-float-equality

ruff-check:
  name: Ruff Lint & Format Imports
  entry: poetry run ruff check --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

black-format:
  name: Black Code Formatter
  entry: poetry run black
  language: system
  pass_filenames: true
  stages:
  - pre-commit

mypy-typecheck:
  name: MyPy Type Checking
  entry: poetry run mypy
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ban-float-equality:
  name: Ban float equality
  entry: python tools/check_float_eq.py
  language: system

Fix strategy order tracker tests to use assert_close
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  .vscode/snippets/python.json
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  tests/unit/application/mapping/test_tracking_mapping.py
  tests/unit/application/tracking/test_strategy_order_tracker.py
  tests/unit/domain/strategies/models/test_strategy_position_model.py
  tests/unit/domain/strategies/models/test_strategy_signal_model.py
  tests/utils/__init__.py
  tests/utils/float_checks.py
  tools/check_float_eq.py
Due: ban-float-equality

del
  docs/adr/001-data-provider-facade.md
  docs/data-provider-facade.md
  docs/deprecation_timeline.md
Due: none

Update cli.py
  the_alchemiser/interface/cli/cli.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update main.py
  the_alchemiser/main.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update trading_service_manager.py
  the_alchemiser/services/trading/trading_service_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

EXCELLENT! 🎉 ALL KLM TESTS ARE NOW PASSING! That's a massive improvement. Now let me test the Nuclear strategy tests:
  GITHUB_ISSUE_TEST_FAILURES.md
  tests/contracts/base_strategy_parity.py
  tests/contracts/test_data_provider_parity.py
  tests/contracts/test_klm_strategy_parity.py
  tests/contracts/test_nuclear_strategy_parity.py
  tests/contracts/test_tecl_strategy_parity.py
  tests/unit/domain/strategies/test_klm_strategy_parity.py
  tests/unit/domain/strategies/test_tecl_strategy_parity.py
Due: ban-float-equality

fixing tests
  tests/performance/conftest.py
  tests/performance/test_strategy_performance.py
  tests/unit/domain/strategies/test_strategy_error_handling.py
Due: ban-float-equality

Checkpoint from VS Code for coding agent session
  CODEOWNERS
  PRODUCTION_READINESS_REVIEW.md
Due: none

test fixes
  the_alchemiser/domain/strategies/nuclear_typed_engine.py
  the_alchemiser/domain/strategies/typed_klm_ensemble_engine.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

```
  the_alchemiser/application/mapping/strategy_signal_mapping.py
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/domain/strategies/nuclear_typed_engine.py
  the_alchemiser/interface/cli/signal_analyzer.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

```
  the_alchemiser/domain/strategies/nuclear_logic.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

del
  CHANGELOG.md
Due: none

fixing what we broke
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/container/infrastructure_providers.py
  the_alchemiser/domain/math/indicator_utils.py
  the_alchemiser/domain/strategies/typed_klm_ensemble_engine.py
  the_alchemiser/services/market_data/__init__.py
  the_alchemiser/services/market_data/market_data_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

hepl
  clj-strategies/trading_strategies/KLM.clj
  clj-strategies/trading_strategies/Nuclear.clj
  clj-strategies/trading_strategies/TECL_for_the_long_term.clj
  the_alchemiser/domain/strategies/engine.py
  the_alchemiser/domain/strategies/nuclear_logic.py
  the_alchemiser/domain/strategies/nuclear_typed_engine.py
  the_alchemiser/domain/strategies/tecl_strategy_engine.py
  the_alchemiser/domain/strategies/typed_strategy_manager.py
  the_alchemiser/domain/types.py
  the_alchemiser/infrastructure/logging/logging_utils.py
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interface/cli/cli_formatter.py
  the_alchemiser/interfaces/schemas/__init__.py
  the_alchemiser/interfaces/schemas/cli.py
  the_alchemiser/interfaces/schemas/errors.py
  the_alchemiser/interfaces/schemas/execution.py
  the_alchemiser/interfaces/schemas/reporting.py
  the_alchemiser/lambda_handler.py
  the_alchemiser/services/errors/__init__.py
  the_alchemiser/services/errors/context.py
  the_alchemiser/services/errors/decorators.py
  the_alchemiser/services/errors/error_handling.py
  the_alchemiser/services/errors/error_monitoring.py
  the_alchemiser/services/errors/error_recovery.py
  the_alchemiser/services/errors/handler.py
  the_alchemiser/services/errors/scope.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

jesus it works (sort of)
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interface/cli/signal_analyzer.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

docs: production readiness review
  PRODUCTION_READINESS_REVIEW.md
Due: none

I’ve addressed the two runtime blockers in trade mode—account info DTO validation and frozen model mutation—and tidied a couple of small lints to keep things clean.
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/interface/cli/trading_executor.py
  the_alchemiser/interface/email/client.py
  the_alchemiser/interface/email/config.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

fixed
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

### **What We've Accomplished**:
  test_quote_data.py
  the_alchemiser/application/execution/smart_execution.py
  the_alchemiser/infrastructure/websocket/websocket_order_monitor.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

pause
  the_alchemiser/application/portfolio/services/portfolio_management_facade.py
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/infrastructure/adapters/legacy_portfolio_adapter.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

I'll search for any existing slippage/buffer settings to reuse and then adjust buy sizing to subtract a small buffer so Alpaca doesn't reject buys due to minor price changes. ```
  the_alchemiser/application/portfolio/services/portfolio_management_facade.py
  the_alchemiser/application/portfolio/services/rebalance_execution_service.py
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update engine_service.py
  the_alchemiser/application/trading/engine_service.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Update trading_executor.py
  the_alchemiser/interface/cli/trading_executor.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

resolving comments
  the_alchemiser/application/trading/engine_service.py
  the_alchemiser/interface/cli/cli.py
  the_alchemiser/interface/cli/trading_executor.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

ruff
  the_alchemiser/interface/cli/signal_analyzer.py
  the_alchemiser/services/trading/trading_service_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Fix SonarQube issue: Remove duplicate exception handling in execute_order_dto
  the_alchemiser/services/trading/trading_service_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

linting
  the_alchemiser/application/mapping/orders.py
  the_alchemiser/application/orders/asset_order_handler.py
  the_alchemiser/application/orders/limit_order_handler.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

lint
  tests/unit/interfaces/schemas/test_execution.py
Due: ban-float-equality

reviewed
  the_alchemiser/application/mapping/orders.py
  the_alchemiser/interfaces/schemas/accounts.py
  the_alchemiser/interfaces/schemas/base.py
  the_alchemiser/interfaces/schemas/enriched_data.py
  the_alchemiser/interfaces/schemas/market_data.py
  the_alchemiser/interfaces/schemas/operations.py
  the_alchemiser/interfaces/schemas/orders.py
  the_alchemiser/interfaces/schemas/positions.py
  the_alchemiser/interfaces/schemas/smart_trading.py
  the_alchemiser/services/trading/trading_service_manager.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

remove tests from mypy
  pyproject.toml
Due: none

fixing the pull req
  the_alchemiser/domain/models/market_data.py
  the_alchemiser/interface/email/email_utils.py
  the_alchemiser/interface/email/templates/multi_strategy.py
  the_alchemiser/interface/email/templates/portfolio.py
  the_alchemiser/interface/email/templates/trading_report.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

small change
  the_alchemiser/interface/email/templates/portfolio.py
Due: ruff-check, black-format, mypy-typecheck, ban-float-equality

Path conditions:
  ruff-check: any of: ^the_alchemiser/.*\.py$ and \.py$
  black-format: any of: ^the_alchemiser/.*\.py$ and \.py$
  mypy-typecheck: any of: ^the_alchemiser/.*\.py$ and \.py$
  ban-float-equality: any of: ^(tests/|the_alchemiser/).+\.py$ and \.py$
